<%= @page_title = "Comment Creation" %>
<body>
  <div class="home-body container">
    <%= form_for @comment do |f| %>
      <div class="row comment-input"> 
        <div class="form-group">
          <div class="col-md-2">
          <%= f.text_field :name, :placeholder => "Name", :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="row comment-input">
        <div class="form-group">
          <div class="col-md-2">
          <%= f.text_field :email, :placeholder => "Email Address", :class => "form-control" %>
          </div>
        </div>
      </div>
      <div class="row comment-input">
        <div class="form-group">
          <div class="col-md-2">
            <%= f.text_area :body, :placeholder => "Your comment here!", :class => "form-control" %>
          </div>
        </div>
      </div>
        <%= f.submit "Submit", :class => "btn btn-default btn-large" %>
    <% end %>
  </div>
</body>
