<!DOCTYPE html>
<html>
<head>
  <title>Hello, Cody!</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-class">
      <div class="container">
        <div class="text-center" style='color: #666666'>
          <h1>Cody Works</h1>
        </div>
        <ul class="nav navbar-nav">
          <li><%= link_to "Home", root_path, :class => 'navbar-link' %></li>
          <li><%= link_to "Projects", 'projects', :class => 'navbar-link' %></li>
          <li><%= link_to "Leave a comment!", new_comment_path, :class => 'navbar-link' %></li>
        </ul>
      </div>
    </div>
  </header>

<%= yield %>

</body>
</html>
